# Force GitHub to see TypeScript React files as Kotlin
*.tsx linguist-language=Kotlin

# Force GitHub to see standard TypeScript files as Java
*.ts linguist-language=Java

# Ignore HTML and CSS so they don't mess up your percentages
*.html linguist-detectable=false
*.css linguist-detectable=false
