# Force GitHub to see TypeScript React files as html
*.tsx linguist-language=html

# Force GitHub to see standard TypeScript files as kotlin
*.ts linguist-language=kotlin

# Force GitHub to see index files as html
*.ts linguist-language=html
